body{
	background:black;
	overflow:hidden;
	font-family:"helvetica",sans-serif;
	color:black;
}
.head{
  font-family: 'IBM Plex Mono', monospace;
  color:white;
  font-size: 2vw;
  margin-left:75px;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-fill-mode: both;
  
}
.layer.top {
  -webkit-animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation-fill-mode: both;

}
.layer.bottom {
  -webkit-animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation-fill-mode: both;
          
}

.n {
  -webkit-animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes n {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
}

@keyframes n {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
}
.s {
  -webkit-animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes s {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
}

@keyframes s {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
}
.e {
  -webkit-animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes e {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
}

@keyframes e {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
}
.w {
  -webkit-animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes w {
  33.33%, 50%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
}

@keyframes w {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
}
.ne {
  -webkit-animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes ne {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
  }
  66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
  }
}

@keyframes ne {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
  }
}
.se {
  -webkit-animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes se {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
  }
}

@keyframes se {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
  }
  66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
  }
}
.sw {
  -webkit-animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes sw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
  }
  16.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
  }
}

@keyframes sw {
 33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
  }
}
.nw {
  -webkit-animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) 10;
          border:1px solid white;
}

@-webkit-keyframes nw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
  }
}

@keyframes nw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
  }
}
.cube {
  position: absolute;
  top: 47%;
  left: 40%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: linear-gradient(#000080, #ff00ff);
  -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0);
          transform: matrix(0.9, 0.5, 0, 1, 0, 0);
          animation-fill-mode: both;
          border: 1px solid white;
}


.nw p{
  position: absolute;
  transform:rotateY(-45deg);
  background:black;
  width:113px;
  left:80px;
  top:-190px;
  color:white; }

.ne p{
    transform:rotateY(-45deg);
    top:-140px;
    left:-5px;
    font-family: "helvetica", sans-serif;
    font-size:17px;
    background:black;
    font-weight: bold;
    width:113px;
    font-size:17px
    color:white;
  }
.cube p{
    transform:rotateY(-45deg);
    top:-120px;
    left:-15px;
    font-family: "helvetica", sans-serif;
    background:black;
    border:1px solid white;
    font-size:17px;
    font-weight: bold;
    width:113px;
    position: absolute
    color:white;
    padding:1px;

  }

.cube:before, .cube:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

}
.cube:before {
  background: linear-gradient(#ff00ff, #000080);
  -webkit-transform: matrix(1, -1, 1, 0, 40, -80);
          transform: matrix(1, -1, 1, 0, 40, -80);
}
.cube:after {
  background: linear-gradient(#ff00ff, #000080);
  -webkit-transform: matrix(1, -1, 0, 1, 80, -40);
          transform: matrix(1, -1, 0, 1, 80, -40);

}

@-webkit-keyframes top {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, -99px);
            transform: translate(0, -99px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, -158px);
            transform: translate(0, -158px);
  }
}

@keyframes top {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, -79px);
            transform: translate(0, -79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, -158px);
            transform: translate(0, -158px);
  }
}
@-webkit-keyframes bottom {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, 79px);
            transform: translate(0, 79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, 158px);
            transform: translate(0, 158px);
  }
}
@keyframes bottom {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, 79px);
            transform: translate(0, 79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, 158px);
            transform: translate(0, 158px);
  }
}
  .grid{
    position: absolute;
    left:900px;
    top:110px;
  }
  

/***/



.nw p:hover {
    background: red;
    
}
.w p:hover {
    background: red;
    
}
.n p:hover {
    background: red;
   
}
.ne p:hover {
    background: red;
    
}
.cube p:hover {
    background: red;
    
}
.sw p:hover {
    background: red;
    
}
.s p:hover {
    background: red;
    
}
.e p:hover {
    background: red;
    
}
.se p:hover {
    background: red;
    
}







 






